/* ARTICLE PAGE */

#content {
width:860px;
}

body {
    text-align: left;
}

#top_menu {
  width: 860px;
  margin: 10px;
  padding: 4px;
  visibility: visible;
  overflow: visible;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

#top_menu div.column {
  overflow:hidden;
  padding-right:5px;
  width:16%;
  text-align:left
}

.column {
  display:inline;
  float:left;
}

.navGroup {
	background-color: #f0ffe0;
	border-style: dashed;
	border-width: 1px;
	margin: 4px 0px;
	padding: 4px 4px;
	border-color: #bbffbb;
}

ul li {
	padding: 4px;
}
	
ul li a {
	padding: 0px 4px; 
	display: block;
}
