/* ARTICLE PAGE */

#content {
width:860px;
}

body {
    text-align: left;
}

#top_menu {
  width: 860px;
  margin: 10px;
  padding: 4px;
  visibility: visible;
  overflow: visible;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

#top_menu div.column {
  overflow:hidden;
  padding-right:5px;
  width:16%;
  text-align:left
}

.column {
  display:inline;
  float:left;
}

.navGroup {
	background-color: #f0ffe0;
	border-style: dashed;
	border-width: 1px;
	margin: 4px 0px;
	padding: 4px 4px;
	border-color: #bbffbb;
}

ul li {
	padding: 4px;
}
	
ul li a {
	padding: 0px 4px; 
	display: block;
}

#footer_box {text-align: center;}

/* button basics */
a.minibutton {
    display:inline-block;
    height:23px;
    padding:0 0 0 3px;
    font-size:11px;
    font-weight:bold;
    color:#333;
    text-shadow:1px 1px 0 #fff; 
    background:url(http://github.com/images/modules/buttons/minibutton_matrix.png) 0 0 no-repeat;
    white-space:nowrap;
    border:none;
    overflow:visible;
    cursor:pointer;
    text-decoration:none;
}
  
a.minibutton>span {
    display:block;
    height:23px;
    padding:0 10px 0 8px;
    line-height:23px;
    background:url(http://github.com/images/modules/buttons/minibutton_matrix.png) 100% 0 no-repeat;
}
  
a.minibutton:hover, a.minibutton:focus {
    color:#fff;
    text-decoration:none;
    text-shadow:-1px -1px 0 rgba(0,0,0,0.3);
    background-position:0 -30px;
}
a.minibutton:hover>span, a.minibutton:focus>span {background-position:100% -30px;}
  
a.minibutton.mousedown{background-position:0 -60px; }
a.minibutton.mousedown>span{background-position:100% -60px; }
