/* RESET DEFAULT */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h5, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {margin:0; padding:0}
address, caption, cite, code, dfn, em, strong, th, var {font-style:normal; font-weight:normal}
h1, h2, h3, h5, h5, h6  {font-size:100%}
table                   {border-collapse:collapse; border-spacing:0}
fieldset, img           {border:0}
ol, ul, li              {list-style:none}
caption, th             {text-align:left}
q:before, q:after       {content:''}
strong                  {font-weight: bold}
em                      {font-style: italic}
ol, ul, li              {list-style:none}
* a                     {position:relative} 
a                       {outline:none}        
a img                   {border:none}     

/* TYPOGRAPHY */
body                    {font-family: 'Geneva', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif}
em, q .header   {font-family: 'Hoefler Text', Georgia, 'Times New Roman', Times, serif bold;}

body                {text-align: center;}
h1, h2, h3, p, .highlight, .java    {text-align: left;}
h1                  {font-size: 1.7em; line-height: 1em;}
h2                  {font-size: 1.5em; line-height: 1em;}
h3                  {font-size: 1.3em; line-height: 1em;}
.header  {font-size: 1.2em;}
.desc           {font-size: 0.75em;}
#footer_box         {font-size: 0.7em; line-height: 2em;}
.header, .more   {font-weight: bold;}
em                          {font-style: normal; font-variant: small-caps; letter-spacing: 0px;}
ol li a                     {text-decoration: none;}
 

#banner    {
	height:135px;
} 

/* COLORS AND BACKGROUNDS */
body                    {background-color: #fff;}
#footer_box, {background-color: #f0ffe0;}
a:hover, a:focus {background-color: #009900;}

body, .desc             {color: #232;}
strong                  {color: #333133;}
.header                 {color: #111;}
a, .more                {color: #009900;}
a:visited               {color: #2f53d3;}
a img                   {border-color: #3f43f3;}
a:hover, a:hover .more  {color: #2f53d3;}
a:hover img             {border-color: #2f53d3;}
ol li em                {color: #866;}

/* LAYOUT */
body, ol, #footer_box, #content {margin-left: auto; margin-right: auto;}
h1, #footer_box {margin-top: 15px; margin-bottom: 10px;}
h2 {margin-top: 10px; margin-bottom: 7px;}
h3 {margin-top: 7px; margin-bottom: 3px;}
em              {margin-bottom: 5px;}
p               {padding: 3px 0px 3px 0;}

#footer_box     {width: 100%; clear: both;} 
.header,   {display: block;}


.callout {
  border: 1px dashed black;
  margin: 10px;
  padding: 4px;
  color: black;
  background-color: #bbffbb;
  visibility: visible;
  overflow: visible;
  display: table;
}

.clear {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: 0;
}
