<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>

<title>PicoContainer - {{ page.name }}</title>

<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<meta http-equiv="Content-Language" content="en" />
<meta name="language" content="en" />
<meta name="robots" content="all" />
<meta http-equiv="imagetoolbar" content="false" />

<meta name="author" content="dev@picocontainer.codehaus.org" />
<meta name="Copyright" content="PicoContainer team" />
<meta name="viewport" content="width=960" />
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
<link rel=icon href=/favicon.png>

</head>
<body>
<div id="banner">
  <a href="/">
	<img src="/images/pico_logo.png" alt="PicoContainer Logo" />
  </a>
</div>

{{ content }}
  
<div id="footer_box">
    Last updated on July 13, 2011 - Last PicoContainer release - 2.13.6
</div>

</body></html>